<!--
<nav class="navbar">
  <ul>
    <li><a routerLink="/phones" routerLinkActive>Phone</a></li>
    <li><a routerLink="/modify-phone"routerLinkActive>Modify phone</a></li>
  </ul>
</nav>




<div>
  <h1>{{title}}</h1>
  <app-phone-list-item
    *ngIf="singlePhone"
    [phoneItem]="singlePhone"></app-phone-list-item>
-->

<mat-toolbar color="primary">
  <span>leke's phone store</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/phone" routerLinkActive="active">phone List</button>
  <button mat-button routerLink="/modify-phone" routerLinkActive="active">Modify phone</button>
</mat-toolbar>

<div class="app-container">
  <h1>{{ title }}</h1>

  <router-outlet></router-outlet>

</div>



