.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #bdbd10;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #bf0c2a;
}

h2 {
  color: #c67c6c;
}

h3 {
  color: #007bff;
  margin-top: 20px;
}

h4 {
  color: #495057;
  margin-bottom: 5px;
}

p {
  color: #ca0e9b;
  margin: 5px 0;
}

hr {
  margin: 15px 0;
  border: 1px solid #e9ecef;
}
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  float: left;
  display: inline;
  padding: 14px 16px;
}

.navbar ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}
/* page-not-found.component.css */
.not-found {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.not-found h1 {
  font-size: 48px;
  color: red;
}

.not-found p {
  font-size: 18px;
  margin-bottom: 20px;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #007bff;
  padding: 10px 15px;
  border-radius: 5px;
}

.not-found a:hover {
  background-color: #007bff;
  color: white;
}
.phone-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
