<div class="phone-list">
    <h3>Available Phones</h3>
    <div *ngIf="phoneList.length > 0; else noPhones">
        <table class = "phone-table">
            <thead>
            <tr>
                <th class="table-header">Brand</th>
                <th class="table-header">ID</th>
                <th class="table-header">Model</th>
                <th class="table-header">Price</th>
                <th class="table-header">Smartphone</th>
                <th class="table-header">Image</th>
                <th class="table-header">Edit</th>
                <th class="table-header">Delete</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phone of phoneList" class="table-row">
                <td class="table-cell">{{ phone.brand }}</td>
                <td class="table-cell">{{ phone.id }}</td>
                <td class="table-cell">{{ phone.model }}</td>
                <td class="table-cell">${{ phone.price | number:'1.2-2' }}</td>
                <td class="table-cell">{{ phone.isSmartphone ? 'Yes' : 'No' }}</td>
                <td class="table-cell">
                    <img [src]="phone.ImageUrl"  class="phone-image" />
              <td>{{ phone.releaseDate | date:'longDate' }}</td>
              <td>{{ phone.department | uppercase }}</td>
              <td>{{ phone.monthlyPayment | currency:'USD':'symbol':'1.2-2' }}</td>
              <td class="table-cell"><button type="button" (click)="onEdit()" class="btn edit-btn">Edit</button></td>
              <td class="table-cell"><button type="button" (click)="onDelete(phone.id)" class="btn delete-btn">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noPhones>
        <p>No phones available.</p>
    </ng-template>
</div>

